@{
    ViewData["Title"] = "Home Page";
}
@model Dish;

<div class="text-center">
    <h2><a href="../">Chefs</a> | Dishes</h2>
    <a href="/dishes/new" class="btn btn-primary">Add Dish</a>
    <h3>Check out our tasty dishes!</h3>
    <table class="table tabel-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Chef</th>
                <th scope="col">Tastiness</th>
                <th scope="col">Calories</th>
            </tr>
        </thead>
        @foreach (var j in ViewBag.AllDishes) {
            <tr>
                <td>@j.Name</td>
                <td>@j.Cook.FirstName @j.Cook.LastName</td>
                <td>@j.Tastiness</td>
                <td>@j.Calories</td>
            </tr>
        }
    </table>
</div>
