@model Dish;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cruddy</title>
</head>
<body>
    <div class="container text-center">
        <h1>@Model.Name</h1>
        <h3>@Model.Chef</h3>
        <hr/>
        <p>@Model.Description</p>
        <p>Calories: @Model.Calories</p>
        <p>Tastiness: @Model.Tastiness</p>
        <div class="buttons">
            <a href="/dishes/delete/@Model.DishId" class="btn btn-danger">Delete</a>
            <a href="/dishes/edit/@Model.DishId" class="btn btn-secondary">Edit</a>
        </div>
        <a href="../../.." class="btn btn-info">Home</a>
    </div>
</body>
</html>