@model Wedding;

<div class="text-center">
    <h1>Welcome to the Wedding Planner</h1>
    <a href="" class="btn btn-info">Logout</a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Wedding</th>
                <th>Date</th>
                <th>Guest</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var j in ViewBag.AllWeds)
        {
            <tr>
                <td><a href="/wedding/@j.WeddingId">@j.WedOne and @j.WedTwo</a></td>
                <td>@j.Date.ToShortDateString()</td>
                <td>@j.WeddingsRsvp.Count</td>
                <td>
                    @{
                        if (j.UserId == ViewBag.LoggedInUser) 
                        {
                            <form action="/wedding/delete/@j.WeddingId" method="post">
                                    <input type="hidden" asp-for="WeddingId" value="@j.WeddingId">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                        } else {
                            bool found = false;
                            foreach (Rsvp guest in j.WeddingsRsvp) 
                            {
                                if (guest.UserId == ViewBag.LoggedInUser)
                                {
                                    found = true;
                                }
                            }
                            if (found) {
                                <form action="/wedding/update/@j.WeddingId" method="post">
                                    <input type="hidden" asp-for="UserId" value="@ViewBag.LoggedInUser">
                                    <input type="hidden" asp-for="WeddingId" value="@j.WeddingId">
                                    <input type="submit" value="Un-RSVP" class="btn btn-secondary">
                                </form>
                            } else {
                                <form action="/wedding/rsvp" method="post">
                                    <input type="hidden" asp-for="UserId" value="@ViewBag.LoggedInUser">
                                    <input type="hidden" asp-for="WeddingId" value="@j.WeddingId">
                                    <input type="submit" value="RSVP" class="btn btn-success">
                                </form>
                            }
                        }
                    }
                </td>
            </tr>
        }
    </table>
    <a href="/new" class="btn btn-primary">New Wedding</a>
</div>